In [65]:
import numpy as np
import pandas as pd


from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

df = pd.read_csv("loan_train4.csv")

In [153]:
df.isnull

<bound method DataFrame.isnull of      Gender Married Dependents     Education Self_Employed  Applicant_Income  \
0      Male      No          0      Graduate            No            584900
1      Male     Yes          1      Graduate            No            458300
2      Male     Yes          0      Graduate           Yes            300000
3      Male     Yes          0  Not Graduate            No            258300
4      Male      No          0      Graduate            No            600000
..      ...     ...        ...           ...           ...               ...
609  Female      No          0      Graduate            No            290000
610    Male     Yes         3+      Graduate            No            410600
611    Male     Yes          1      Graduate            No            807200
612    Male     Yes          2      Graduate            No            758300
613  Female      No          0      Graduate           Yes            458300

     Coapplicant_Income  Loan_Amount   Term  Credit_History       Area Status  \
0                   0.0     15000000  360.0             1.0      Urban      Y
1              150800.0     12800000  360.0             1.0      Rural      N
2                   0.0      6600000  360.0             1.0      Urban      Y
3              235800.0     12000000  360.0             1.0      Urban      Y
4                   0.0     14100000  360.0             1.0      Urban      Y
..                  ...          ...    ...             ...        ...    ...
609                 0.0      7100000  360.0             1.0      Rural      Y
610                 0.0      4000000  180.0             1.0      Rural      Y
611             24000.0     25300000  360.0             1.0      Urban      Y
612                 0.0     18700000  360.0             1.0      Urban      Y
613                 0.0     13300000  360.0             0.0  Semiurban      N

     Area_new  Gender_new  Married_new  Education_new  Status_new
0           2           1            0              0           1
1           0           1            1              0           0
2           2           1            1              0           1
3           2           1            1              1           1
4           2           1            0              0           1
..        ...         ...          ...            ...         ...
609         0           0            0              0           1
610         0           1            1              0           1
611         2           1            1              0           1
612         2           1            1              0           1
613         1           0            0              0           0

[614 rows x 17 columns]>

In [66]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Credit_History,Area,Status
0,Male,No,0,Graduate,No,584900,0.0,15000000,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,458300,150800.0,12800000,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,300000,0.0,6600000,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,258300,235800.0,12000000,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,600000,0.0,14100000,360.0,1.0,Urban,Y

In [93]:
one_hot_encoded_data = pd.get_dummies(df, columns = ['Area', 'Gender','Education', 
                                                    'Married', 'Status']) 
print(one_hot_encoded_data)

    Dependents Self_Employed  Applicant_Income  Coapplicant_Income  \
0            0            No            584900                 0.0
1            1            No            458300            150800.0
2            0           Yes            300000                 0.0
3            0            No            258300            235800.0
4            0            No            600000                 0.0
..         ...           ...               ...                 ...
609          0            No            290000                 0.0
610         3+            No            410600                 0.0
611          1            No            807200             24000.0
612          2            No            758300                 0.0
613          0           Yes            458300                 0.0

     Loan_Amount   Term  Credit_History  Area_new  Gender_new  Married_new  \
0       15000000  360.0             1.0         2           1            0
1       12800000  360.0             1.0         0           1            1
2        6600000  360.0             1.0         2           1            1
3       12000000  360.0             1.0         2           1            1
4       14100000  360.0             1.0         2           1            0
..           ...    ...             ...       ...         ...          ...
609      7100000  360.0             1.0         0           0            0
610      4000000  180.0             1.0         0           1            1
611     25300000  360.0             1.0         2           1            1
612     18700000  360.0             1.0         2           1            1
613     13300000  360.0             0.0         1           0            0

     ...  Area_Semiurban  Area_Urban  Gender_Female  Gender_Male  \
0    ...           False        True          False         True
1    ...           False       False          False         True
2    ...           False        True          False         True
3    ...           False        True          False         True
4    ...           False        True          False         True
..   ...             ...         ...            ...          ...
609  ...           False       False           True        False
610  ...           False       False          False         True
611  ...           False        True          False         True
612  ...           False        True          False         True
613  ...            True       False           True        False

     Education_Graduate  Education_Not Graduate  Married_No  Married_Yes  \
0                  True                   False        True        False
1                  True                   False       False         True
2                  True                   False       False         True
3                 False                    True       False         True
4                  True                   False        True        False
..                  ...                     ...         ...          ...
609                True                   False        True        False
610                True                   False       False         True
611                True                   False       False         True
612                True                   False       False         True
613                True                   False        True        False

     Status_N  Status_Y
0       False      True
1        True     False
2       False      True
3       False      True
4       False      True
..        ...       ...
609     False      True
610     False      True
611     False      True
612     False      True
613      True     False

[614 rows x 22 columns]

In [94]:
from sklearn.preprocessing import OneHotEncoder 
data = df

# Converting type of columns to category 
df['Area'] = df['Area'].astype('category') 
df['Gender'] = df['Gender'].astype('category')
df['Married'] = df['Married'].astype('category')
df['Education'] = df['Education'].astype('category')
df['Status'] = df['Status'].astype('category')
  
  
# Assigning numerical values and storing it in another columns 
df['Area_new'] = data['Area'].cat.codes 
data['Gender_new'] = data['Gender'].cat.codes 
data['Married_new'] = data['Married'].cat.codes 
data['Education_new'] = data['Education'].cat.codes 
data['Status_new'] = data['Status'].cat.codes
  
  
# Create an instance of One-hot-encoder 
enc = OneHotEncoder() 
  
# Passing encoded columns 
  
enc_data = pd.DataFrame(enc.fit_transform(data[['Gender_new', 'Area_new','Married_new','Education_new','Status_new']]).toarray()) 
  
# Merge with main 
New_df = df.join(enc_data) 
  
print(New_df)

     Gender Married Dependents     Education Self_Employed  Applicant_Income  \
0      Male      No          0      Graduate            No            584900
1      Male     Yes          1      Graduate            No            458300
2      Male     Yes          0      Graduate           Yes            300000
3      Male     Yes          0  Not Graduate            No            258300
4      Male      No          0      Graduate            No            600000
..      ...     ...        ...           ...           ...               ...
609  Female      No          0      Graduate            No            290000
610    Male     Yes         3+      Graduate            No            410600
611    Male     Yes          1      Graduate            No            807200
612    Male     Yes          2      Graduate            No            758300
613  Female      No          0      Graduate           Yes            458300

     Coapplicant_Income  Loan_Amount   Term  Credit_History  ...    3    4  \
0                   0.0     15000000  360.0             1.0  ...  0.0  0.0
1              150800.0     12800000  360.0             1.0  ...  1.0  0.0
2                   0.0      6600000  360.0             1.0  ...  0.0  0.0
3              235800.0     12000000  360.0             1.0  ...  0.0  0.0
4                   0.0     14100000  360.0             1.0  ...  0.0  0.0
..                  ...          ...    ...             ...  ...  ...  ...
609                 0.0      7100000  360.0             1.0  ...  1.0  0.0
610                 0.0      4000000  180.0             1.0  ...  1.0  0.0
611             24000.0     25300000  360.0             1.0  ...  0.0  0.0
612                 0.0     18700000  360.0             1.0  ...  0.0  0.0
613                 0.0     13300000  360.0             0.0  ...  0.0  1.0

       5    6    7    8    9   10   11   12
0    1.0  0.0  1.0  0.0  1.0  0.0  0.0  1.0
1    0.0  0.0  0.0  1.0  1.0  0.0  1.0  0.0
2    1.0  0.0  0.0  1.0  1.0  0.0  0.0  1.0
3    1.0  0.0  0.0  1.0  0.0  1.0  0.0  1.0
4    1.0  0.0  1.0  0.0  1.0  0.0  0.0  1.0
..   ...  ...  ...  ...  ...  ...  ...  ...
609  0.0  0.0  1.0  0.0  1.0  0.0  0.0  1.0
610  0.0  0.0  0.0  1.0  1.0  0.0  0.0  1.0
611  1.0  0.0  0.0  1.0  1.0  0.0  0.0  1.0
612  1.0  0.0  0.0  1.0  1.0  0.0  0.0  1.0
613  0.0  0.0  1.0  0.0  1.0  0.0  1.0  0.0

[614 rows x 30 columns]

In [112]:
#New_df.drop("Gender", axis=1)
#New_df.drop("Married", axis=1)
#New_df.drop("Education", axis=1)
#New_df.drop("Area", axis=1)
df_1= New_df.drop(['Gender', 'Married','Education', 'Area',"Status", "Self_Employed"], axis=1)
df_1

,Dependents,Applicant_Income,Coapplicant_Income,Loan_Amount,Term,Credit_History,Area_new,Gender_new,Married_new,Education_new,...,3,4,5,6,7,8,9,10,11,12
0,0,584900,0.0,15000000,360.0,1.0,2,1,0,0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
1,1,458300,150800.0,12800000,360.0,1.0,0,1,1,0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0
2,0,300000,0.0,6600000,360.0,1.0,2,1,1,0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
3,0,258300,235800.0,12000000,360.0,1.0,2,1,1,1,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0
4,0,600000,0.0,14100000,360.0,1.0,2,1,0,0,...,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,0,290000,0.0,7100000,360.0,1.0,0,0,0,0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
610,3+,410600,0.0,4000000,180.0,1.0,0,1,1,0,...,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
611,1,807200,24000.0,25300000,360.0,1.0,2,1,1,0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
612,2,758300,0.0,18700000,360.0,1.0,2,1,1,0,...,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0
613,0,458300,0.0,13300000,360.0,0.0,1,0,0,0,...,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0

In [148]:
df_1.isnull

<bound method DataFrame.isnull of     Dependents  Applicant_Income  Coapplicant_Income  Loan_Amount   Term  \
0            0            584900                 0.0     15000000  360.0
1            1            458300            150800.0     12800000  360.0
2            0            300000                 0.0      6600000  360.0
3            0            258300            235800.0     12000000  360.0
4            0            600000                 0.0     14100000  360.0
..         ...               ...                 ...          ...    ...
609          0            290000                 0.0      7100000  360.0
610         3+            410600                 0.0      4000000  180.0
611          1            807200             24000.0     25300000  360.0
612          2            758300                 0.0     18700000  360.0
613          0            458300                 0.0     13300000  360.0

     Credit_History  Area_new  Gender_new  Married_new  Education_new  ...  \
0               1.0         2           1            0              0  ...
1               1.0         0           1            1              0  ...
2               1.0         2           1            1              0  ...
3               1.0         2           1            1              1  ...
4               1.0         2           1            0              0  ...
..              ...       ...         ...          ...            ...  ...
609             1.0         0           0            0              0  ...
610             1.0         0           1            1              0  ...
611             1.0         2           1            1              0  ...
612             1.0         2           1            1              0  ...
613             0.0         1           0            0              0  ...

       3    4    5    6    7    8    9   10   11   12
0    0.0  0.0  1.0  0.0  1.0  0.0  1.0  0.0  0.0  1.0
1    1.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  1.0  0.0
2    0.0  0.0  1.0  0.0  0.0  1.0  1.0  0.0  0.0  1.0
3    0.0  0.0  1.0  0.0  0.0  1.0  0.0  1.0  0.0  1.0
4    0.0  0.0  1.0  0.0  1.0  0.0  1.0  0.0  0.0  1.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
609  1.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  1.0
610  1.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  1.0
611  0.0  0.0  1.0  0.0  0.0  1.0  1.0  0.0  0.0  1.0
612  0.0  0.0  1.0  0.0  0.0  1.0  1.0  0.0  0.0  1.0
613  0.0  1.0  0.0  0.0  1.0  0.0  1.0  0.0  1.0  0.0

[614 rows x 24 columns]>

In [157]:
#= New_df.loc[:, ['Dependents','Applicant_Income','Coapplicant_Income','Loan_Amount','Term','Credit_History','Area_new','Gender_new']]
#y= New_df.loc[:, ['Status_new']]
#x= df_1.values[:, 1:5]
#y= df_1.values[:, :10]
#x_train,x_test, y_train, y_test = train_test_split (x,y,test_size=0.1,random_state=100)

clf_entropy = DecisionTreeClassifier(criterion = "entropy", random_state = 100, max_depth=3,min_samples_leaf =5)
clf_entropy.fit(x_train,y_train)

ValueError: Input contains NaN

In [ ]:

New_df.loc[:, ['Dependents','Self_Employed','Applicant_Income','Coapplicant_Income','Loan_Amount','Term','Credit_History','Area_new','Gender_new']]

In [133]:
pred = clf_entropy.predict(x_test )

NotFittedError: This DecisionTreeClassifier instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.